body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #343a40;
  overflow-y: auto;
}



#V {
  color: red;
}
#K {
  color: yellow;
}
#U {
  color: blue;
}
#R {
  color: blueviolet;
}
#E {
  color: cornflowerblue;
}

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .calculator{
      width: 50px;
    }
    .content{
      /* margin-left: 12%;
      margin-right: 10%; */
      padding-left: 12%;
      padding-right: 20%;
      margin-top: 4em;
      background-color: #343a40;
      color: white;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .content {
      /* margin-left: 12%;
      margin-right: 10%; */
      padding-left: 12%;
      padding-right: 20%;
      margin-top: 4.5rem;
      background-color: #343a40;
      color: white;
    }
    iframe {
      margin-left: 8%;
      margin-top: 10px;
      width: 60em;
    }
    footer {
      background-color: #1e201f;
      color: wheat;
      padding: 10px;
      /* height: 25%; */
      right: 0;
    }
    .h2 {
      font-style: italic;
      text-decoration: underline;
    }
    .menu {
      float: right;
      display: block;
      position: fixed;
      right: 0;
      font-size: smaller;
      width: 20%;
      text-align: center;
    }
    h4 a {
      text-decoration: none;
      color: brown;
    }
    
    .navbar-toggler-icon {
      filter: invert(1);
    }
    
    .datetime {
      text-align: center;
      padding-top: 200%;
      color: white;
    }
    
    .card-text {
      /* text-indent: 2em; */
      padding-left: 2em;
    }
    .tieude {
      background-color: grey;
      top: 0;
      display: block;
      color: white;
      padding-left: 1em;
      margin-right: 0.5em;
    }
    span {
      font-weight: bold;
      /* color: white; */
    }
    
    .calculator {
      position: fixed;
      right: 25px;
      width: 255px;
      border: 1px solid #cccccc69;
      padding: 10px;
      float: right;
      background-color: #343a40;
    }
    .calculator .result {
      margin-bottom: 8px;
      position: relative;
    }
    .calculator .result input {
      background: transparent; /* Đưa ô nhập dữ liệu về trong suốt */
      font-weight: bold; /* Giữ độ đậm màu chữ */
      color: white;
    }
    .calculator .buttons button {
      width: 50px;
      height: 50px;
      margin: 2px;
    }
    .calculator .result::after {
      content: "VNĐ"; /* Thêm nội dung VNĐ */
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      font-weight: bold;
    }
    .containerlabel {
      position: relative;
    }
    .hidden-label {
      opacity: 0.5;
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .content {
      /* margin-left: 12%;
      margin-right: 10%; */
      padding-left: 12%;
      padding-right: 20%;
      margin-top: 4.5rem;
      background-color: #343a40;
      color: white;
    }
    iframe {
      margin-left: 8%;
      margin-top: 10px;
      width: 60em;
    }
    footer {
      background-color: #1e201f;
      color: wheat;
      padding: 10px;
      /* height: 25%; */
      right: 0;
    }
    .h2 {
      font-style: italic;
      text-decoration: underline;
    }
    .menu {
      float: right;
      display: block;
      position: fixed;
      right: 0;
      font-size: smaller;
      width: 20%;
      text-align: center;
    }
    h4 a {
      text-decoration: none;
      color: brown;
    }
    
    .navbar-toggler-icon {
      filter: invert(1);
    }
    
    .datetime {
      text-align: center;
      padding-top: 200%;
      color: white;
    }
    
    .card-text {
      /* text-indent: 2em; */
      padding-left: 2em;
    }
    .tieude {
      background-color: grey;
      top: 0;
      display: block;
      color: white;
      padding-left: 1em;
      margin-right: 0.5em;
    }
    span {
      font-weight: bold;
      /* color: white; */
    }
    
    .calculator {
      position: fixed;
      right: 25px;
      width: 255px;
      border: 1px solid #cccccc69;
      padding: 10px;
      float: right;
      background-color: #343a40;
    }
    .calculator .result {
      margin-bottom: 8px;
      position: relative;
    }
    .calculator .result input {
      background: transparent; /* Đưa ô nhập dữ liệu về trong suốt */
      font-weight: bold; /* Giữ độ đậm màu chữ */
      color: white;
    }
    .calculator .buttons button {
      width: 50px;
      height: 50px;
      margin: 2px;
    }
    .calculator .result::after {
      content: "VNĐ"; /* Thêm nội dung VNĐ */
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      font-weight: bold;
    }
    .containerlabel {
      position: fixed;
      right: 0px;
      width: 225px;
      margin-top: 1em;
      /* padding: 10px ; */
      float: right;
    }
    .hidden-label {
      opacity: 0.5;
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 1500px) {
    .content {
      padding-left: 12%;
      padding-right: 20%;
      margin-top: 5em;
      background-color: #343a40;
      color: white;
      padding-bottom: 1em;
    }

    img {
      /* padding-left: 0%;
      margin-left: 0%; */
      margin: 20px 0px 0px 0px;
      /* vertical-align: top 0%; */
      /* padding-top: 20px; */
      /* background-size: contain; */
      padding-left: 10em;
    }
    .img1 {
      margin: 20px 0px 0px 0px;
      height: 20%;
      width: 90%;
      padding-left: 3em;
    }
    .img2 {
      height: 40%;
      width: 40%;
      margin-left: 30%;
      margin-top: 20px;
    }
    iframe {
      margin-left: 8%;
      margin-top: 10px;
      width: 60em;
    }
    footer {
      background-color: #1e201f;
      color: wheat;
      padding: 10px;
      /* height: 25%; */
      right: 0;
    }
    .h2 {
      font-style: italic;
      text-decoration: underline;
    }
    .menu {
      float: right;
      display: block;
      position: fixed;
      right: 0;
      font-size: smaller;
      width: 20%;
      text-align: center;
    }
    h4 a {
      text-decoration: none;
      color: brown;
    }
    
    .navbar-toggler-icon {
      filter: invert(1);
    }
    
    .datetime {
      text-align: center;
      padding-top: 200%;
      color: white;
    }
    
    .card-text {
      /* text-indent: 2em; */
      padding-left: 2em;
    }
    .tieude {
      background-color: grey;
      top: 0;
      display: block;
      color: white;
      padding-left: 1em;
      margin-right: 0.5em;
    }
    span {
      font-weight: bold;
      /* color: white; */
    }
    
    .calculator {
      position: fixed;
      right: 50px;
      width: 255px;
      border: 1px solid #cccccc69;
      padding: 10px;
      float: right;
      background-color: #343a40;
    }
    .calculator .result {
      margin-bottom: 8px;
      position: relative;
    }
    .calculator .result input {
      background: transparent; /* Đưa ô nhập dữ liệu về trong suốt */
      font-weight: bold; /* Giữ độ đậm màu chữ */
      color: white;
    }
    .calculator .buttons button {
      width: 50px;
      height: 50px;
      margin: 2px;
    }
    .calculator .result::after {
      content: "VNĐ"; /* Thêm nội dung VNĐ */
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      font-weight: bold;
    }
    .containerlabel {
      position: fixed;
      right: 0px;
      width: 365px;
      margin-top: 1em;
      /* padding: 10px ; */
      float: right;
    }
    .hidden-label {
      opacity: 0.5;
    }
    p{
      padding-right: 20px;
    }
  }

